#task-manager {
    display: flex;
    flex-direction: row;
}

.task-board {
    background-color: rgb(222, 240, 245);
    margin: 20px;
    width: 33%;
    border-color: black;
    
}

#widgets {
    padding: 10px;
}

#widgets > div {
    float: left;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid green;
}

h2 {
    background-color: rgb(96, 197, 255);
    color: rgb(15, 15, 17);
    padding: 10px;
    text-align: center;
    font-family: Arial Black, Gadget, sans-serif;
}

div#this-week-widget {
    background-color: brown;
}

div.task-controls {
    background-color: aquamarine;
}


p#task-timer-units {
    font-family: 'Times New Roman', Times, serif;
}

#footer {
    clear: left;
    border-top: 1px solid black;
    border-color: black;
}